.page-template-page-template-home {
	
	.hero {
		position: relative;
		background: $black;
		 
		.hero-bg {
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-repeat: no-repeat;
			background-position: right top;
			background-size: 70%;
		}
		
		.grid-container {
			
			.grid-x {
				padding-top: 9em;
				padding-bottom: 5em;
				max-height: 90vh;
				
			@include breakpoint (large) {
				padding-top: 10em;
				padding-bottom: 8em;
				max-height: none;
				min-height: 600px;
			}
		
				.tagline-img-wrap {
					position: relative;
					z-index: 1;	
					
					img {
						max-width: 760px;
					}
					
				}
				
			}
		
		}

/*
		.hero-text {
			position: relative;
			z-index: 1;
			padding-top: 5em;
			padding-bottom: 5em;
			color: $white;
			
		&.left {
			text-align: right;	
			
			p {
				font-weight: 800;
				
				strong {
					color: $red;
				}
				
			}
			
		}
	
		&.right {
			text-align: left;
		}
			
		}
*/
		
	}
	
	section {
		padding-top: 6.5em;
		padding-bottom: 6.5em;
		
		&#s1 {
			
			h2 {
				text-transform: none;
			}
			
		}
		
		&#s2 {
			
			p.copy {
				font-size: rem-calc(22px);
				line-height: 1.15;
				padding-bottom: 1em;
			}
			
			.single-service-card {
				margin-bottom: 2em;
				
			@include breakpoint (medium) {
				margin-bottom: 0;
			}
			
				.inner {
					
					max-width: 220px;
					margin: auto;
					
					@include breakpoint (medium) {
						padding: 0 0.4em;
					}
			
					img {
						max-height: 42px;
						margin-bottom: 2.25em;
					}
				
					h4 {
						font-size: rem-calc(22px);
						padding-bottom: 0.5em;
					}
				
				}
			
			}
			
		}
		
		&#s3 {
			position: relative;
			
			.career-wrap {
				position: relative;
				padding-top: 0em;
				padding-bottom: 0em;
				background-repeat: no-repeat;
				background-position: 85% 50%;
				background-size: 0;

			@include breakpoint (medium) {
				padding-top: 6.5em;
				padding-bottom: 6.5em;
				background-size: contain;
			}
			
				img {
					position: relative;
					z-index: 3;
					
				@include breakpoint (medium) {
					display: none;
				}
					
				}

				.left {
					padding-top: 2.6em;
					padding-bottom: 0;
					position: relative;
					z-index: 1;
					
				@include breakpoint (medium) {
					background-color: #f2f2f2;
					padding: 5.45em 3em 5.5em;
					max-width: 650px;
					margin-left: 5%;
				}
				
					p.intro-text {
						font-size: rem-calc(20px);
					}
					
					.copy-wrap {
						p {
							margin-bottom: 0.05em;
							line-height: 1.33;	
						}
					}
					
				}
				
				.right {
					
/*
				@include breakpoint (medium) {
					margin-top: 6.5em;
					margin-bottom: 6.5em;
					position: absolute;
					z-index: 0;
				    right: 0;
				    top: 50%;
				    transform: translateY(-50%);
				}
*/
				
				}
					
			}
			
		}
	
	}
	
}