.quote {
	
	img {
		margin-bottom: 1.5em;
	}
	
	.quote-marks {
		font-family: $font-serif-alt;
		font-size: rem-calc(96);
		line-height: 0;
		margin-bottom: 0.12em;
		color: $red;
	}
	
	p {
		font-size: rem-calc(22);
		line-height: 1.6875;
		font-weight: bold;
		
		@include breakpoint(medium) {
			font-size: rem-calc(32);
		}
		
	}
	
	.author {
		font-size: rem-calc(24);
		color: $red;
		text-transform: uppercase;
	}
	
}